.App{
  padding: 0;
}
.QuotationContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.BooksContainer{
  margin: auto;
  padding: 50px;
  display: flex;
  gap: 40px;
}